a, a:hover{
    text-decoration:none;
}

em {
    font-weight:bold;
    color: #d62728;
}

.hidden {
    display:none;
}

.nav .h4, .nav .h5, .nav .h6, .nav h4, .nav h5, .nav h6, #index_header h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-collapse {
    text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#error_wrapper {
    display:none;
}

.job-posting .job-title {
    font-weight:bold;
    font-size:1.75em;
    text-align:left;
}

.job-posting .company-name {
    font-size:1.25em;
    color: #B0B0B0;
}

.job-posting .logo-wrapper {
    width:75px;
    height:75px;
    overflow:hidden;
    padding:0px;
    background-color:#FFFFFF;
}

.job-posting .posted {
    font-size:1.5em;
}

.job-posting .text-right {
    color: #D0D0D0;
}

.job-posting .row {
    padding:0px 20px;
    margin:0px;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

#job-search, #job-search .form-group {
    margin-bottom: 0px;
}

form {
    margin-bottom:0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer a, .footer a:hover, .footer a:visited {
    color:#000000;
    font-size: 0.8em;
}

.footer h5 {
    text-transform: uppercase;
}

.footer ul {
    list-style-type: none;
    padding:0px;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li:last-child {
    margin-bottom: 0px;
}

.footer ul a, .footer ul a:hover, .footer ul a:visited {
    text-decoration: none;
}

.footer ul a, .footer ul a:visited {
    color:#FFFFFF;
}

.footer ul a:hover {
    color:#a94442;
}

.footer-content {
    background-color: #232323;
    color: #FFFFFF;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom: 10px;
}

.outline {
    outline:1px solid red;
}

.processing {
    display:none;
}